:root {
    --primary-color: #1C59A1;
    --secondary-color: #EEEEEE;
    --font-size: 16px;
    --padding: 10px;
}

.home{
    color: var(--primary-color);
}
.home {
margin-top: 50px;
}

.home p{
    margin-top: 50px;
    font-size: 20px;
}
